<html>
    <head>
        <title>About Us - The Happy Web</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />
    </head>
    <div id = "bd3">
        <body>
            <div id = "title">
                <h1>The Happy Web</h1>
            </div>
            <div id = "about-us">
                <h2>About Us</h2>
            </div>
            <div id = "subtitle">
                <h3>Christopher Engelbart</h3>
            </div>
            <div id = "para">
                <p>Hi my name is Christopher. I am a senior at Jonathan Dayton High School. I live in New Jersey. I like to practice martial arts, play video games, and make YouTube videos/streams. We created this site to make people feel better!</p>
            </div>
            <div id = "img1" class = "container">
                <img src="http://images.clipartpanda.com/karate-clip-art-karate_silhouette.png">
            </div>
            <div id = "subtitle">
                <h3>Veronica Tecpoyotl</h3>
            </div>
            <div id = "para">
                <p>Hi my name is Veronica. I am a senior at H.E.R.O High School. I live in New York. I like to sing, learn and have fun when ever I can. We created this site to make people feel better and good at all times!</p>
            </div>
            <div id = "img2" class="container">
                <img src="https://previews.123rf.com/images/osaba/osaba1606/osaba160600626/58042792-microphone-headphone-on-piano-background-blurred-sound-mixer-.jpg">
            </div>
            <div id = "text">
                <p>Random Text<p>
            </div>
        </body>
    </div>
    <div id = "back-button">
        <form action="/index">
            <input type="submit" value="Return Home" class="button">
        </form>
    </div>
</html>